node_modules
.next
.next-profiles
next-env.d.ts

.git
.github

data

.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

*.db
*.db-shm
*.db-wal

coverage

.vscode
.idea

.DS_Store
Thumbs.db
